@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


#contentW{
	width: 1000px;
	margin: 0px auto;
	position:relative;
}
#top_category{
	width: 1000px;
	height: 30px;
	position: relative;
}
#top_category>div>ul>li{
	float: left;
	width: 120px;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
}
#top_category>div>ul>li.top_category1>a{
	display: block;
	height: 30px;
	width: 30px;
	background: url(../images/home.png) no-repeat center;
}
#top_category>div>ul>li.top_category1{width: 30px;}
#top_category>div>ul>li.top_category2{width: 80px;}
#top_category>div>ul>li.top_category3{width: 140px;}
#top_category>div>ul>li.top_category4{width: 60px;}
#top_category>div>ul>li.category_next{width: 20px;}


#contentW{width: 1000px;}
#content{
	width: 1000px;
	float: left;
}
#main_content{
	width: 1000px;
	position: relative;
	margin-bottom: 100px;
}
#content_real{
	width:750px;
	float: left;
	position: relative;
	padding: 30px 0px;
}

	
	
	
#FANcontent{
	width: 700px;
	float: left;
}
#FANtop{
	width: 700px; 
	margin-bottom: 20px;
}
#FANtop>img{margin-bottom: 20px;}
#FANtopGray{
	width: 640px;
	padding: 35px 30px;
	background: #eeeeee;
}
#FANtopGray>h3{margin-bottom: 10px;}
#FANtopBtn{
	float: right;
	padding: 15px 0px;
}
#FANtopBtn input{
	float: left;
	width: 180px;
	height: 35px;
	line-height: 35px;
	font-weight: bold;
	text-align: left;
	padding-left: 10px;
	border: 1px solid lightgray;
	background: white url(../images/bt_bg_8_20.png) no-repeat 162px 7.5px;
}
#FANtopBtn input.FANtopBtnE{
	width: 160px; 
	margin-left: 10px;
	background: white url(../images/bt_bg_8_20.png) no-repeat 142px 7.5px;
}
#FANcategory{
	width: 700px;
	background: white;
	position: relative;
}
#FANcategory>ul{
	float: left;
	width: 700px; 
	position: relative;
}
#FANcategory>ul>li>a{
	font-size: 14px;
}
#FANcategory>ul>li{
	float: left;
	width: 99px;
	height: 48px;
	line-height: 45px;
	background: white;
	text-align: center;
	border-top: 1px solid #dbdbdb;
	border-left: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
}
#FANcategory>ul>li:hover{
	width: 98px;
	height: 48px;
	border-top: 1px solid #444444;
	border-left: 1px solid #444444;
	border-right: 1px solid #444444;
	border-bottom: 1px solid white;
}
#FANcategory>ul>li>div{
	display: none;
	position: absolute;
	top: 50px;
	left: 0px;
	width: 100%;
	background: white;
	border-bottom: 1px solid #dbdbdb;
	z-index: 99;
}
#FANcategory>ul>li:hover>div{display: block;}
#FANcategory>ul>li>div>ul>li{float: left;}
#FANcategory>ul>li>div>ul>li:hover>a{text-decoration: underline;}
#FANcategory>ul>li>div>ul>li>a{
	background: white;
	padding: 0px 15px;
	border-right: 1px solid #dbdbdb;
	font-size: 14px;
}
#FANcategory>ul>li>div>ul>li>a.twoDexE{border-right: none;}
.FCliE{
	width: 98px;
	height: 48px;
	border-top: 1px solid #dbdbdb;
	border-left: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
}
.FCliE:hover{
	width: 98px;
	height: 48px;
	border-top: 1px solid #444444;
	border-left: 1px solid #444444;
	border-right: 1px solid #444444;
}
#FANcategory>ul>li.liTransparent{
	width: 99px;
	height: 49px;
	border: none;
	border-bottom: 1px solid #dbdbdb;
}
#FANbottom{
	width: 700px;
	margin-top: 60px;
	padding: 10px 0px;
}
#FANbottom>h3{margin-bottom: 20px;}
#FANbottom>h4{margin-bottom: 10px;}
#FANbottom>p{margin-bottom: 10px;}

#FANhelp{
	width: 700px;
	margin-top: 10px;
	padding: 10px 0px;
}
#FANhelp>h3{margin-bottom: 20px;}
#FANhelp>div{margin-bottom: 30px;}
#FANhelp>div>h4{margin-bottom: 10px;}
#FANhelp>div ul li{font-size: 14px;}
#FANhelp>div ul li>span{padding-left: 10px; line-height: 20px;}
#FANhelp>div>div{
	width: 698px;
	border: 1px solid #dbdbdb;
}
#FANhelp>div>div>img{margin: 5px 0px 0px 10px;}
	
	

#content_sub_menu{
	width: 250px;
	float: right;
	position: relative;
}
#quick_menu{
	position: relative;
	width: 250px;
	height: 270px;
	background: #f0f0f0;
	font-size: 11px;
	margin-top: 30px;
	margin-bottom: 10px;
}
#quick_menu>h3{
	font-size: 14px;
	padding: 10px 5px 10px 10px;
	color: #2b3853;
}
#quick_menu>div>div{
	width: 250px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #647492;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
#quick_menu>div>div>a{color: white;}
#quick_menu>div>ul>li{
	float:left;
	width: 125px;
	height: 23px;
	line-height: 20px;
	background: url(../images/bt_bg_8_20.png) no-repeat 110px 0px;
}
#quick_menu>div>ul>li:hover{background: url(../images/bt_bg_hover_8_20.png) no-repeat 110px 0px;}
#quick_menu>div>ul>li>a{
	padding-left: 10px;
	font-weight: bold;
	color: #7d8084;
}
#quickUnder1{
	width: 250px;
	background: #fbfbfb;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
}
	#quickUnder1 div{
		width: 240px;
		margin: 0px auto;
	}
	
	
	
#quickUnder2{
	margin-top: 30px;
	width: 250px;
	background: #fbfbfb;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
}
	#quickUnder2 div{
		width: 250px;
	}
	#quickUnder2>div>h3{
		display: block;
		float: left;
		width: 100px;
		font-size: 15px;
		padding-left: 3px;
		line-height: 30px;
	}
	#quickUnder2>div>p.btbg{
		width: 90px;
		float: right;
		font-size: 12px;
		text-align: right;
		padding-right: 15px;
		line-height: 30px;
		letter-spacing: -1px;
		background: url(../images/bt_bg_8_20.png) no-repeat 95px 6px;
	}
	#popularCard1{
		width: 250px;
		text-align: center;
		margin-top: 10px;
	}
	#popularCard1>p{font-size: 13px;}
	#popularCard1>p:hover{text-decoration: underline;}
	#popularCard2{
		width: 250px;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#popularCard2>p{font-size: 13px;}
	#popularCard2>p:hover{text-decoration: underline;}
