html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend { margin: 0px; padding: 0px; border: 0px;}
body {margin:0px auto; font-family:돋움, Dotum; font-size:12px; text-decoration:none; list-style:none;}


#wrapWeatherW{
	width: 1000px; 
	margin: 0px auto; 
	padding-bottom: 100px;
}
#wrapWeather{ 
	width: 998px; 
	height:192px; 
	background: white; 
	border: 1px solid #dbdbdb; 
	border-top: 0px;
}
#weather{ }
.afterDay {
	float: left; 
	width: 40%; 
	height:183px; 
	text-align:right;
}
.afterDay .today_text {
	float:left; 
	font-size:34px; 
	padding-left:40px; 
	padding-top: 30px; 
	color: #4a4a4a;
}
.weather_icon {
	float: left; 
	padding-top: 15px; 
	padding-left: 15px; 
}

.dateweek {
	width: 100%;
	overflow:hidden; 
	float:left; 
	padding-top: 36px; 
	padding-left: 40px;
}
.dateweek .datecontent { 
	float:left; 
	font-size: 14px; 
	text-align: center; 
	letter-spacing: 1px; 
	color: #4a4a4a; 
}
.dateweek .cloudsmall { 
	float:left; 
	padding-left: 5px; 
	text-align: left;  
	width: 36px; 
	height: 35px;
}
.dateweek .cloudsmall img { 
	width:100%; 
	height:100%;
}
.dateweek .number { 
	float:left; 
	padding-left:8px; 
	font-size: 14px; 
	text-align: center; 
	letter-spacing: 2px; 
	color: #4a4a4a;
}
.datecontent02 { 
	float:left;  
	padding-left: 15px;
	font-size: 14px; 
	text-align: center; 
	letter-spacing: 1px; 
	color: #4a4a4a;
}
.cloudsmall02 { 
	float:left;  
	padding-left: 5px;
	text-align: left; 
	width: 36px; 
	height: 35px;
}
.cloudsmall02 img { 
	width:100%; 
	height:100%;
}
.number02 { 
	float:left; 
	padding-left:8px; 
	font-size: 14px; 
	text-align: center; 
	letter-spacing: 2px; 
	color: #4a4a4a;
}

.today {
	width: 50%;
	float: right; 
	height: 100px; 
	padding-top: 20px; 
} 
.temp { 
	position:relative; 
	float:right; 
	letter-spacing: -10px; 
	line-height: 89%; 
	font-size: 160px; 
	color: #4a4a4a; 
	padding-top:12px; 
	padding-right: 70px; 
	font-family:arial;
}
.date {
	float: left; 
	padding-top: 26px; 
	width:180px; 
	padding-left: 50px; 
	letter-spacing: -1px; 
	font-size: 24px;
	color: #4a4a4a;  
	text-align: right; 
	padding-right: 15px;
}
.degspan {
	position: absolute; 
	font-family:arial; 
	font-size: 82px; 
	right: 35px; 
	top: -4px;
}
/*
.today { float: right; height: 180px; padding-top: 6px; } 
.temp { position:relative; float:left; *width:235px; letter-spacing: -21px; line-height: 89%; font-size: 220px; color: white; padding-top:12px;}
.date {float: right; padding-top: 26px; width:180px; padding-left: 98px; letter-spacing: -1px; font-size: 24px;color: white; }
.degspan {position: absolute; font-family:arial; font-size: 122px; right: -53px; top: -34px;}
*/