@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


#contentW{
	width: 1000px;
	margin: 0px auto;
	position:relative;
}
#top_category{
	width: 1000px;
	height: 30px;
	position: relative;
}
#top_category>div>ul>li{
	float: left;
	width: 120px;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
}
#top_category>div>ul>li.top_category1>a{
	display: block;
	height: 30px;
	width: 30px;
	background: url(../images/home.png) no-repeat center;
}
#top_category>div>ul>li.top_category1{width: 30px;}
#top_category>div>ul>li.top_category2{width: 100px;}
#top_category>div>ul>li.top_category3{width: 140px;}
#top_category>div>ul>li.top_category4{width: 40px;}
#top_category>div>ul>li.category_next{width: 20px;}


#contentW{width: 1000px;}
#content{
	width: 1000px;
	float: left;
}
#main_content{
	width: 1000px;
	position: relative;
	margin-bottom: 100px;
}
#content_real{
	width:750px;
	float: left;
	position: relative;
	padding: 30px 0px;
}

	
	
	
#KUMcontent{
	width: 700px;
	float: left;
}
#KUMtop{
	width: 700px; 
	margin-bottom: 20px;
}
#KUMheaderRight{float: right;}
#reservService{
	float: left;
	width: 220px;
	height: 25px;
	background: white;
	border: 1px solid #bdbdbd;
	margin-right: 10px;
}
#KUMheaderRight>input{
	float: left;
	width: 50px;
	height: 25px;
	line-height: 20px;
	background: white;
	border: 1px solid #7a7a7a;
}
#KUMtop>img{margin-bottom: 20px;}
#KUMtopGray{
	width: 640px;
	padding: 35px 30px;
	background: #eeeeee;
}
#KUMtopGray>h3{margin-bottom: 10px;}
#KUMtopBtn{
	float: right;
	padding: 15px 0px;
}
#KUMtopBtn input{
	float: left;
	width: 60px;
	height: 35px;
	line-height: 35px;
	font-weight: bold;
	text-align: left;
	padding-left: 10px;
	border: 1px solid lightgray;
	background: white url(../images/bt_bg_8_20.png) no-repeat 45px 7.5px;
}
#KUMtopBtn input.KUMtopBtnE{
	width: 110px; 
	margin-left: 10px;
	background: white url(../images/bt_bg_8_20.png) no-repeat 95px 7.5px;
}

#KUMmiddle{width: 700px;}
#KUMmiddle>h4{margin-bottom: 20px;}
#KUMtable{width: 700px;}
#KUMtable>table{
	border-collapse: collapse;
	border: 1px solid #dbdbdb;
	border-left: 0px;
	border-right: 0px;
	width: 700px;
}
#KUMtable tr{border-bottom: 1px solid #dbdbdb;}
#KUMtable>table th{
	width: 180px;
	text-align: left;
	border-right: 1px solid #dbdbdb;
	background: #f9f9f9;
	font-weight: normal;
	font-size: 14px;
	padding-left: 10px;
}
#KUMtable td{
	vertical-align: middle;
	font-size: 14px;
	letter-spacing: -1px;
	padding: 20px;
	background: url(../images/list_style_small.png) no-repeat 6px 19px;
}
.KUMtable3 span{padding-left: 22px;}
#KUMtable .KUMtable6{border-bottom: none;}
#KUMtable .KUMtable6 td{
	background: none;
	padding-left: 5px;
}
#KUMtable .KUMtable6 li{
	background: url(../images/list_style_small.png) no-repeat 0px 2.5px;
	padding-left: 15px;
	line-height: 25px;
}



#KUMbottom{
	width: 700px;
	margin-top: 60px;
	padding: 10px 0px;
}
#KUMbottom>h4{margin-bottom: 30px;}
.KUMbottomBox{
	width: 658px; 
	padding: 20px;
	border: 1px solid #dbdbdb;
	margin-top: 20px;
}
.KUMbottomBox li{
	padding-left: 15px;
	font-size: 13px;
	line-height: 20px;
	background: url(../images/list_style_small.png) no-repeat left top;
}
.KUMbottomBox p{
	font-size: 13px;
	font-weight: bold;
	float: right;
}
.KUMBBB{font-weight: bold;}

	

#content_sub_menu{
	width: 250px;
	float: right;
	position: relative;
}
#quick_menu{
	position: relative;
	width: 250px;
	height: 270px;
	background: #f0f0f0;
	font-size: 11px;
	margin-top: 30px;
	margin-bottom: 10px;
}
#quick_menu>h3{
	font-size: 14px;
	padding: 10px 5px 10px 10px;
	color: #2b3853;
}
#quick_menu>div>div{
	width: 250px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #647492;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
#quick_menu>div>div>a{color: white;}
#quick_menu>div>ul>li{
	float:left;
	width: 125px;
	height: 23px;
	line-height: 20px;
	background: url(../images/bt_bg_8_20.png) no-repeat 110px 0px;
}
#quick_menu>div>ul>li:hover{background: url(../images/bt_bg_hover_8_20.png) no-repeat 110px 0px;}
#quick_menu>div>ul>li>a{
	padding-left: 10px;
	font-weight: bold;
	color: #7d8084;
}
#quickUnder1{
	width: 250px;
	background: #fbfbfb;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
}
	#quickUnder1 div{
		width: 240px;
		margin: 0px auto;
	}
	
	
	
#quickUnder2{
	margin-top: 30px;
	width: 250px;
	background: #fbfbfb;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
}
	#quickUnder2 div{
		width: 250px;
	}
	#quickUnder2>div>h3{
		display: block;
		float: left;
		width: 100px;
		font-size: 15px;
		padding-left: 3px;
		line-height: 30px;
	}
	#quickUnder2>div>p.btbg{
		width: 90px;
		float: right;
		font-size: 12px;
		text-align: right;
		padding-right: 15px;
		line-height: 30px;
		letter-spacing: -1px;
		background: url(../images/bt_bg_8_20.png) no-repeat 95px 6px;
	}
	#popularCard1{
		width: 250px;
		text-align: center;
		margin-top: 10px;
	}
	#popularCard1>p{font-size: 13px;}
	#popularCard1>p:hover{text-decoration: underline;}
	#popularCard2{
		width: 250px;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#popularCard2>p{font-size: 13px;}
	#popularCard2>p:hover{text-decoration: underline;}
