
$font-xs: 12px;
$font-small: 14px;
$font-regular: 16px;
$font-large: 18px;
$font-xl: 20px;

$black: #333333;
$font-gray: #666666;

$tile-white: rgba(#ffffff, 0.4);
$tile-blue: rgba(#9BD8FB, 0.4);
$tile-red: rgba(#ED8181, 0.4);
$tile-yellow: rgba(#FFD646, 0.4);
$tile-purple: rgba(#C182D8, 0.4);