@charset "UTF-8";

@import "~@/assets/css/reset";
@import "~@/assets/css/variables";
@import "~@/assets/css/icon";
@import "~@/assets/css/mixin";
@import "~@/assets/css/font";

.strong { font-weight: 700; }
.underline { text-decoration: underline; }


// ********** responsive ********** //
@mixin responsive-1920() {
  @media all and ( max-width: 1919px ) {
    @content;
  }
}
@mixin responsive-1440() {
  @media all and ( max-width: 1439px ) {
    @content;
  }
}
@mixin responsive-1366() {
  @media all and ( max-width: 1365px ) {
    @content;
  }
}
@mixin responsive-1280() {
  @media all and ( max-width: 1279px ) {
    @content;
  }
}
@mixin responsive-768() {
  @media all and ( max-width: 767px ) {
    @content;
  }
}
@mixin responsive-375() {
  @media all and ( max-width: 374px ) {
    @content;
  }
}
@mixin responsive-custom($width) {
  @media all and ( max-width: $width - 1 + px ) {
    @content;
  }
}

@function vw($width: 1920, $value: 10) {
  @return ($value / ($width * 0.01)) + vw;
}
@function vh($height: 1080, $value: 10) {
  @return ($value / ($height * 0.01)) + vh;
}

// ********** #app ********** //
#app {
  @include flex(true, row, nowrap, center, flex-start);

  width: 100%;
  height: auto;
  padding: 200px 0;
  gap: 16px;
  box-sizing: content-box;
  scroll-behavior: smooth;
  position: relative;
  z-index: 0;
  
  .background-image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    pointer-events: none;
    background: #FFFDFA no-repeat center top;
    background-image: image-set(
      url("@/assets/image/vector-background.webp") 1x,
      url("@/assets/image/vector-background.png") 1x,
      url("@/assets/image/vector-background.jpg") 1x,
    );
    background-size: cover;
  }
}

// ********** section ********** //
.section {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(5, 200px);
  grid-auto-flow: row dense;
  
  @include responsive-1280 {
    grid-template-columns: repeat(3, 200px);
  }
  @include responsive-768 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(50px, auto);
    grid-auto-rows: 100px;
  }
  @include responsive-custom(640) {
    display: flex;
  }
}

// ********** tile title ********** //
.tile-title {
  @include tile(5, 1);
  @include flex(false, row, nowrap, space-between, center);

  width: 100%;
  height: 50px;
  padding: 0 8px;
  color: $font-gray;
  text-align: center;
  font-family: $ptd;

  @include responsive-768 {
    width: 100%;
    height: 50px;
  }

  .view-all-list {
    @include flex(false, row, nowrap, flex-end, center);
    
    font-family: $ptd;
    font-size: $font-regular;
    padding: 8px 0 8px 12px;
    cursor: pointer;
    background-color: transparent;

    .button__text {
      margin-right: 12px;  
      color: $font-gray;

      @include responsive-custom(640) {
        display: none;
      }
    }
  }
  .icon-wrapper {
    display: inline-block;
    padding: 8px;
    border-radius: 6px;
    box-shadow: 1px 1px 4px 0 rgba(#333333, 0.4);
    background-color: white;

    .icon {
      @include icon-custom(15);
    }
  }
}

// ********** vue Transition ********** //
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
